
:root {
  --color-primary: #a8d4b8;
  --color-secondary: #576c68;
  --tw-shadow: 6px -9px 39px -18px rgba(0, 0, 0, 0.646);
  /* var(color-primary) */
}
* {
  list-style: none;
  background-color: rgb(255, 254, 254);
  color: #576c68;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  transition: 0.3s all;
}
img{
  width: 100px;
  height: 100px;
  object-fit: scale-down;
}
.carrito-h1{
  text-align: center;
  font-size: x-large;
  margin: 10px 0px 10px 0px;
}

h1 {
  text-align: center;
  font-size: x-large;
  margin: 10px 0px 10px 0px;
}
.cart-icon{
  background-color: rgba(0, 0, 0, 0);
  width: 30px;
  height: 30px;
  pointer-events: none;
}
.section-carrito {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
#carrito {
  width: 94%;
  height: 80vh;
  overflow-y: scroll;
  border: 1px solid var(--color-secondary);
  border-radius: 13px;
}
.li-carrito {
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--color-secondary);
  border-radius: 13px;
}
.btn-sum-res button {
  border: none;
  padding: 5px 10px;
  margin: 5px 0px;
  border-radius: 5px;
}
.btn-delete {
  border: none;
  padding: 5px 10px;
  margin: 5px 0px;
  border-radius: 5px;
  background-color: rgb(123, 23, 23);
  color: #fff;
}
.btn-sum-res button:first-child {
  background-color: var(--color-secondary);
  color: var(--color-primary);
}
.btn-sum-res button:last-child {
  color: var(--color-secondary);
  background-color: var(--color-primary);
}
.total-carrito {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: var(--tw-shadow);
  width: 94%;
  height: 80vh;
  border-radius: 13px;
  padding: 20px;
  background-color: var(--color-secondary);
  text-align: center;
}
.total-carrito h2 {
  text-decoration: underline;

}
.total-carrito h2,
.total-carrito span,button {
  color: var(--color-primary);
  background-color: var(--color-secondary);
}
.total-carrito button {
  color: var(--color-primary);
  margin: 10px;
  padding: 5px 10px 5px 10px;
  border: 1px solid var(--color-primary);
  border-radius: 8px;
}
.total-carrito button:active{
  background-color: var(--color-primary);
  color: var(--color-secondary);
}
.total-carrito span,.total-carrito h2 {
  font-size: x-large;
  font-weight: 600;
}
.chat-whatsapp{
  background-color: var(--color-secondary);
  color: var(--color-primary);
  border: 1px solid var(--color-primary);
  border-radius: 8px;
  padding: 0px 5px 0px 5px;
}
.chat-whatsapp:hover{
  background-color: var(--color-primary);
  color: var(--color-secondary);
  filter: drop-shadow(0px 0px 1em var(--color-primary));
}
.img-back{
  width: 40px;
  height: 40px;
}
@media (max-width: 768px) {
  .section-carrito{
    display: flex;
    flex-direction: column-reverse;
  }
}